<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Your cart: </h2>

  <table class="table">
    <thead>
      <tr>
        <th>Item</th>
        <th>Price</th>
          <th>Veg/Nonveg</th>
      </tr>
    </thead>
    <tbody>
      {% for txn in txns %}
      <tr class="info">
        <td>{{ txn.item.name }}</td>
        <td>{{ txn.item.price }}</td>
      <td>{% if txn.item.veg %}Veg{% else %}Non veg{% endif %}</td>

      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<h3 align="center">Your total is ${{ total }}</h3>
<h3>Address: sector {{ sector }}</h3>
<h3>Approximate time: {{ duration }} minutes</h3>
<form method="post">{% csrf_token %}<input class="btn btn-success" type="submit" name="place-order" value="Place Order"></form>


</body>
</html>