<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ hi }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <style>
        body{
            overflow-x: hidden;
        }

 html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}
    </style>


</head>
<body>

<div class="jumbotron text-center" style="margin-bottom:0; background-color: #4285F4; color: white">
  <h1 style="padding: 5px">FoodJunction</h1>
  <p>Where satisfaction meets your soul</p>
</div>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'zomato:homeview' %}">FoodJunction</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>

      <li><a href="{% url 'zomato:hotels' %}">Hotels</a></li>
      <li><a href="{% url 'zomato:dishes' %}">Dishes</a></li>
    </ul>
      {% if not user.is_authenticated %}
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{% url 'zomato:register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="{% url 'zomato:user_login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
          {% else %}
          <ul class="nav navbar-nav navbar-right">
      <li><a href="{% url 'zomato:user_profile' %}"><span class="glyphicon glyphicon-user"></span>My Profile</a></li>
      <li><a href="{% url 'zomato:user_logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      <li><a href="{% url 'zomato:cartview' user.user_id %}"><span class="glyphicon glyphicon-shopping-cart"></span> My Cart</a></li>
    </ul>
      {% endif %}
  </div>
</nav>


{% if orders %}

    <div class="container">
  <div class="panel panel-default">

    <div class="panel-heading"><a href="{% url 'zomato:orderview' %}">Your Orders</a></div>

  </div>
</div>

{% endif %}



{%if hotels%}

    <div class="container">
        <div class="well well-lg">
        <h1>Nearby Hotels: </h1>
        </div>
        <div class="row">
        {% for hotel in hotels %}

            <div class="column">
    <div class="card" style="border-top-left-radius: 10px; border-top-right-radius: 10px">
        <div style="display: inline-block">
      <img src="{{ hotel.photo.url }}" alt="profile-pic" style="width:200px; height: 200px; border-top-left-radius: 10px; border-top-right-radius: 10px">
            </div>
      <div class="container">
        <h2><a style="color: #4285F4" href = "{% url 'zomato:hotelview' hotel.hotel_id %}">{{ hotel.name }}</a></h2>

        <p class="title">{{ hotel.vendor.name }}</p>

        <p>Sector: {{ hotel.sector }}</p>

      </div>
    </div>
  </div>

        {% endfor %}
        </div>
        </div>

{% endif %}

{% if dishes %}

    <div class="container">
        <div class="well well-lg">
        <h1>Dishes: </h1>
        </div>
        <div class="row">
        {% for dish in dishes %}

            <div class="column">
    <div class="card" style="border-top-left-radius: 10px; border-top-right-radius: 10px">

      <div class="container">
        <h2><a style="color: #4285F4" href = "{% url 'zomato:hotelview' dish.hotel.hotel_id %}">{{dish.name }}</a></h2>

        <p class="title">${{ dish.price}}</p>

      </div>
    </div>
  </div>

        {% endfor %}
        </div>


        </div>


{% endif %}

{% if lists %}
    <div class="container">
    <ul>
    {% for order,items in lists %}
        <li>
        Order id : {{ order.transaction_id }}<br>
        Price : {{ order.price }}<br>
        Address : {{ order.user.sector }}<br>
        Duration : {{ order.duration }}<br>
            Hotel: {{ order.hotel.name }}<br>


            <div class="container">


  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" href="#collapse1" class="btn btn-warning">Items</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse">
        <ul class="list-group" type="None">
          {% for item in items %}
              <li>{{ item.name }}</li>
              {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>


<form method="post">
    {% csrf_token %}
    <input type="hidden" name="order-id" value="{{ order.transaction_id }}">
    <input type="submit" class="btn btn-success" name="accept" value="Accept">
    &nbsp;
    <input type="submit" class="btn btn-danger" name="reject" value="Reject">
    </form>
        </li>

    {% endfor %}
    </ul>
    </div>
{% endif %}

{% if your_hotels %}
                 <div class="container">
        <div class="well well-lg">
        <h1>Your Hotels: </h1>
        </div>
        <div class="row">
        {% for hotel in your_hotels %}

            <div class="column">
    <div class="card" style="border-top-left-radius: 10px; border-top-right-radius: 10px">
        <div style="display: inline-block">
      <img src="{{ hotel.photo.url }}" alt="profile-pic" style="width:100%; height: 300px; border-top-left-radius: 10px; border-top-right-radius: 10px">
            </div>
      <div class="container">
        <h2><a style="color: #4285F4" href = "{% url 'zomato:hotelview' hotel.hotel_id %}">{{ hotel.name }}</a></h2>

        <p class="title">{{ hotel.vendor.name }}</p>

        <p>Sector: {{ hotel.sector }}</p>

      </div>
    </div>
  </div>

        {% endfor %}
        </div>
        </div>
{% endif %}


{% if your_orders %}
    <ul>
    {% for your_order in your_orders %}
    <li>Order id : {{ your_order.order.transaction_id }}</li>
    <li>Price : {{ your_order.order.price }}</li>
    <li>Time: {{ your_order.order.duration }}</li>
    <li>Address : Sector {{ your_order.order.user.sector }}</li>
    <li><form method="post">{% csrf_token %}<input type="hidden" name="order-id" value="{{ your_order.order.transaction_id }}"><input class="btn btn-success" type="submit" name="deliver" value="Deliver"></form></li>
    {% endfor %}
    </ul>
{% endif %}

</body>
</html>